@import "tailwindcss";

@theme {
  --breakpoint-3xl: 1680px;
}

:root {
  --background: #ffffff;
  --foreground: #121212;
}

/* @theme inline {
            --color-background: var(--background);
            --color-foreground: var(--foreground);
            --font-sans: var(--font-geist-sans);
            --font-mono: var(--font-geist-mono);
          }
          @media (prefers-color-scheme: dark) {
            :root {
              --background: #0a0a0a;
              --foreground: #ededed;
            }
          } */

body {
  /* background: var(--background);
            color: var(--foreground); */
  font-family: var(--font-inter);
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: rgb(var(--color-muted));
}

::-webkit-scrollbar-thumb {
  background-color: rgb(var(--color-muted-foreground) / 0.3);
  @apply rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(var(--color-muted-foreground) / 0.5);
}

/* Hide scrollbar for tabs */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
